<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Cidadãos</title>
    <link rel="stylesheet" type="text/css" href="View/styles.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="View/images/logo.png" alt="Logo">
            <span class="ge">GE</span>
            <span class="suas">SUAS</span>
        </div>
        <button class="">Ajuda</button>
    </header>

    <main>

        {% if msg %}
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p> {{ msg }} </p>
                </div>
            </div>
        {% endif %}

        <h1>Gerenciamento de Cidadãos</h1>
        <p>O sistema oferece a gestão das informações referentes aos NIS, cadastro de cidadãos e pesquisa de nis</p><br><br>
        
        <div class="formularios">
            <form action="?page=Home&method=index" method="POST" enctype="multipart/form-data">
                    <label>
                        <span><i class="icon icon-user-1"></i> Cadastrar Novo Cidadão</span><br>
                        <input type="text" name="name" required="" placeholder="Digide o nome do novo cidadão">
                    </label>

                    <input type="hidden" name="acao" value="Pesquisar" />
                    <button  title="Enviar"><b class="icon icon-paper-plane-o">Cadastrar Novo Cidadão</b></button><br><br><br>
            </form>
        </div>

        <div class="">
        
            <form action="page=Home&method=create" method="post" enctype="multipart/form-data">
                    <label>
                        <span><i class="icon icon-user-1"></i> Buscar por NIS</span><br>
                        <input type="text" name="nis" required="" placeholder="Buscar NIS">  
                    </label>

                    <input type="hidden" name="acao" value="Pesquisar" />
                    <button  title="Enviar"><b class="icon icon-paper-plane-o"> Pesquisar</b></button>
            </form>

        </div>
    </main>
</body>
</html>

<script>
    var modal = document.getElementById("myModal");
    var closeBtn = document.getElementsByClassName("close")[0];

    if (modal) {
        modal.style.display = "block";
    }

    if (closeBtn) {
        closeBtn.addEventListener("click", function() {
            modal.style.display = "none";
        });
    }
</script>
